@model DataAccess.Entities.QuestionLine

<div id="userquestion">

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="form-group">
            <div class="alert alert-success" id="result-message">@ViewBag.SuccessMessage</div>
        </div>
    }

    <div class="form-group">
        @Html.Label("Theme")
        @Html.DropDownListFor(x => x.ThemeId,
                                                  (ViewBag.Themes as IEnumerable<string>)
                                                  .Select((e, i) => new SelectListItem { Value = (i + 1).ToString(), Text = e }),
                                                  new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Author)
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(x => x.Author, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Question)
        @Html.TextAreaFor(x => x.Question, new { @class = "form-control", rows = 5, autocomplete = "off" })
        @Html.ValidationMessageFor(x => x.Question, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Задать вопрос" />
    </div>

</div>


<script type="text/javascript">
    setTimeout(function () { $('#result-message').fadeOut('fast') }, 2000);
</script>